{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1>Bienvenido a AGAN Multiservicios</h1>
<p>Selecciona una opcion del menu.</p>

{% if user.is_authenticated %}
    {% if user.rol == 'Administrador' %}
<p>Has iniciado sesion como <strong>Administrador</strong>.</p>
    {% elif user.rol == 'Tecnico' %}
<p>Has iniciado sesion como <strong>Tecnico</strong>.</p>
    {% elif user.rol == 'Cliente' %}
<p>Has iniciado sesion como <strong>Cliente</strong>.</p>
    {% endif %}
{% else %}
<p>No has iniciado sesion.</p>
{% endif %}
{% endblock %}
